* {
  box-sizing: border-box;
}


body {
  font-family: Inter, san-serif;
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;
  background-color: #23252C;
}

.profile-pic {
  width: 100px;
}

