* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  font-family: Inter, san-serif;
  width: 1148px;
  height: 840px;
  margin-top: 54px;
  margin-bottom: 54px;
  left: 65px;
  top: 53px;
  background-color: #666666;
}

.profile-pic {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h4, p {
  text-align: center;
  color: #FFFFFF;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

h4 {
  color: #F3BF99;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
}

p {
  color: #F5F5F5;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}