* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  font-family: Inter, san-serif;
  width: 1148px;
  height: 840px;
  margin-top: 54px;
  margin-bottom: 54px;
  left: 65px;
  top: 53px;
  background-color: #666666;
}

.profile-pic {
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;

  border-radius: 10px 10px 0px 0px;
}

h1, h4, p {
  text-align: center;
  color: #FFFFFF;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

h4 {
  color: #F3BF99;
  font-weight: 400;
  font-size: 20px;
  line-height: 15px;
}

p {
  color: #F5F5F5;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.profile {
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;
  border-radius: 10px 10px 0px 0px;

}

.main {
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;

  background: #1A1B21;
}

.main--title {
  margin: 0;
  padding-top: 169px;
  margin-left: 14px;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
/* or 24px */


  color: #F5F5F5;
}

.main--content{
  margin-bottom: 3px;
  padding-top: 0x;
  margin-left: 14px;
  margin-right: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 16.24px;
  line-height: 150%;
  justify-content: center;
  color: #DCDCDC;
}

footer {
  width: 317px;
  height: 64px;
  left: 116px;
  top: 760px;
    
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  }